label {
    color: white;
}
form {
    width: 30rem;
    /* margin: auto; */
    /* border: 2px solid white;
    border-radius: 50px; */
}
.socials {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    /* margin-right: 2rem; */
}
.fab, .fal {
    font-size: 25px;
    color: white;
    padding: 0.5rem 1rem;
}
a, .fab, .fal {
    color: white;
    text-decoration: none;
    transition: all .25s ease-in-out;
}
a:hover, .fab:hover, .fal:hover {
    /* color: black; */
    color: white;
    opacity: 0.7;
}
.contact-btn {
    padding: 0.45rem 4rem;
    color: white;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: all 0.5s;
}
.contact-btn:hover {
    opacity: 0.85;
    background-color: turquoise;
    border-color: turquoise;
    color: #0a1450;
} 
.msg {
    width: 45%;
}
