<app-navbar></app-navbar>
<div class="container">
    <form class=" mt-5" action="">
        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control bg-transparent">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="text" class="form-control bg-transparent">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control bg-transparent">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Message</label>
            <textarea class="bg-transparent form-control" name="" id="" cols="30" rows="10"></textarea>
        </div>
    </form>
</div>
