<app-navbar></app-navbar>
<h1 class="text-white text-center">Send a message!</h1>
<div class="container d-flex justify-content-between">
    <form class="mt-5" action="">
        <div class="mb-4">
            <!-- <label for="" class="form-label">Name</label> -->
            <input type="text" placeholder="Name" class="form-control bg-transparent">
        </div>
        <div class="mb-4">
            <!-- <label for="" class="form-label">Email</label> -->
            <input type="email" placeholder="Email" class="form-control bg-transparent">
        </div>
        <div class="mb-4">
            <!-- <label for="" class="form-label">Phone Number</label> -->
            <input type="text" placeholder="Phone Number" class="form-control bg-transparent">
        </div>
        <div class="mb-4">
            <!-- <label for="" class="form-label">Message</label> -->
            <textarea placeholder="Write your message" class="bg-transparent form-control" name="" id="" cols="30" rows="8"></textarea>
        </div>
        <div class="mt-2">
            <button class="contact-btn">SEND</button>
        </div>
    </form>
    <div class="text-white msg mt-5">
        <p class="mt-5">Hit me up if you want to get in touch with me. I'm available for opportunities or job openings</p>
    </div>
</div>
<div class="socials">
    <a href="https://www.linkedin.com/in/bambi-awe-659667152/"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/Oluwabambi"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/bambiawe"><i class="fab fa-twitter"></i></a>
    <a href=""><i class="fal fa-envelope"></i></a>
    <a href=""><i class="fab fa-telegram-plane"></i></a>
  </div>
