<app-navbar></app-navbar>
<div class="container">
    <h2 class="text-center mt-5 text-white">Check out some of the things I've worked on</h2>
    <div class="row works mt-5 mb-5">
        <div class="col">
            <div>
                <img style="width: 100%; height:50%" src="./assets/bambi.jpg" alt="">
            </div>
            <div class="port-text">
                <p>Here are some things I've worked on.</p>
                <p>Here are some things I've worked on.</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img style="width: 100%; height:50%" src="./assets/bambi.jpg" alt="">
            </div>
            <div class="port-text">
                <p>Here are some things I've worked on.</p>
                <p>Here are some things I've worked on.</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img style="width: 100%; height:50%" src="./assets/bambi.jpg" alt="">
            </div>
            <div class="port-text">
                <p>Here are some things I've worked on.</p>
                <p>Here are some things I've worked on.</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div>
                <img style="width: 100%; height:50%" src="./assets/bambi.jpg" alt="">
            </div>
            <div class="port-text">
                <p>Here are some things I've worked on.</p>
                <p>Here are some things I've worked on.</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img style="width: 100%; height:50%" src="./assets/bambi.jpg" alt="">
            </div>
            <div class="port-text">
                <p>Here are some things I've worked on.</p>
                <p>Here are some things I've worked on.</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img style="width: 100%; height:50%" src="./assets/bambi.jpg" alt="">
            </div>
            <div class="port-text">
                <p>Here are some things I've worked on.</p>
                <p>Here are some things I've worked on.</p>
            </div>
        </div>
    </div>
</div>