<app-navbar></app-navbar>
<div data-aos="fade-in" class="container mt-5">
    <h1 class="text-center">BRIEF DESCRIPTION ABOUT ME</h1>
    <p>I am a Front end developer with a focus on building functional and responsive websites and web applications. I use mainly Angular framework to perform my front end tasks. Here are some of the skills I possess:   
    </p>
    <div>
    <div class="d-flex text-white justify-content-between align-items-center"> 
      <h3>Frontend Development</h3>
      <div>
        <i class="me-3 fab ang1 fa-angular"></i>
        <p>Angular</p>
      </div>
      <div>
        <i class="me-3 fab ang2 fa-html5"></i>
        <p>HTML</p>
      </div>
      <div>
        <i class="me-3 fab ang3 fa-js"></i>
        <p>JAVASCRIPT</p>
      </div>
      <div>
        <i class="me-3 fab ang4 fa-css3-alt"></i>  
        <p>CSS</p>
      </div>
    </div>
    <hr>
    <div class="d-flex text-white align-items-center">
      <h3>Back end Development</h3>
      <div class="mleft">
        <i class="fab ang4 fa-laravel"></i>
        <p>Laravel</p> 
      </div>    
    </div>
    <hr>
    <div class="d-flex text-white align-items-center">
      <h3>Data Analysis</h3>
      <div class="mleft">
        <i class="fab fa-python"></i>
        <p>Python</p>
      </div>
    </div>
    <hr>
  </div>
  <div class="socials">
    <a href="https://www.linkedin.com/in/bambi-awe-659667152/"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/Oluwabambi"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/bambiawe"><i class="fab fa-twitter"></i></a>
    <a href=""><i class="fal fa-envelope"></i></a>
    <a href=""><i class="fab fa-telegram-plane"></i></a>
  </div>
