<app-navbar></app-navbar>
<div data-aos="fade-in" class="container mt-5">
    <h1 class="text-center">BRIEF DESCRIPTION ABOUT ME</h1>
    <p>I am a Web developer with a good experience with Angular.</p>
    <div class="text-center mt-5">
      <a href=""><i class="me-5 fab ang1 fa-angular"></i></a>
      <a href=""><i class="me-5 fab ang2 fa-html5"></i></a>
      <a href=""><i class="me-5 fab ang3 fa-js"></i></a>
      <a href=""><i class="me-5 fab ang4 fa-css3-alt"></i></a>
      <a href=""><i class="me-5 fab ang4 fa-laravel"></i></a>    
    </div>
  </div>
