<app-navbar></app-navbar>
  <div class="container intro d-flex justify-content-between">
    <div>
      <h1>Hello, I'm</h1>
      <h1>Awe Bambi</h1>
      <h1>Fullstack Developer</h1>
      <p class="mt-1">I am a developer based in Lagos, Nigeria who specializes in building weel-functional websites.</p>
      <p>Feel free to get in touch so we can work together.</p>
    </div>
  </div>
  <div class="container">
    <div class="mt-5">
      <button type="button" routerLink="/contact" class="btn btn-info">Contact Me</button>
      <button type="button" class="ms-5 btn btn-info">View my CV</button>
    </div>
  </div>
  
