<app-navbar></app-navbar>
  <div class="container intro d-flex justify-content-between">
    <div>
      <!-- <h1>Hello, I'm</h1> -->
      <h1>Awe Oluwaambi</h1>
      <h1>Web Developer</h1>
      <p class="mt-1">Hello, I am a developer based in Lagos, Nigeria who specializes in building well-functional websites.</p>
      <p>Feel free to get in touch so we can work together.</p>
    </div>
  </div>
  <div class="container">
    <div class="mt-5">
      <button type="button" routerLink="/portfolio" class="btn btn-info">Portfolio</button>
      <a target="_blank" class="mycv ms-5 btn btn-info" href="https://drive.google.com/file/d/1T6G-eycIyyxBF7dU9dySI7xSbeLcPgbb/view?usp=sharing">View my CV</a>
    </div>
  </div>
  <div class="socials">
    <a href="https://www.linkedin.com/in/bambi-awe-659667152/"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/Oluwabambi"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/bambiawe"><i class="fab fa-twitter"></i></a>
    <a href="mailto:aweoluwabambi@gmail.com"><i class="fal fa-envelope"></i></a>
    <!-- <a href=""><i class="fab fa-telegram-plane"></i></a> -->
  </div>
